@font-face {
    font-family: 'Brown-Regular';
    src: url('../fonts/brown-regular-webfont.eot');
    src: url('../fonts/brown-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/brown-regular-webfont.woff') format('woff'),
    url('../fonts/brown-regular-webfont.ttf') format('truetype'),
    url('../fonts/brown-regular-webfont.svg#F37Ginger-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
        
}

@font-face {
    font-family: 'Brown-Bold';
    src: url('../fonts/brown-bold-webfont.eot');
    src: url('../fonts/brown-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/brown-bold-webfont.woff') format('woff'),
    url('../fonts/brown-bold-webfont.ttf') format('truetype'),
    url('../fonts/brown-bold-webfont.svg#F37Ginger-Light') format('svg');
    font-weight: normal;
    font-style: normal;
        
}