@media (min-width: 1921px) {
    .container {
        max-width: 1920px;
        margin: 0 auto;
    }
}

@media (min-width: 1600px) {
    .contact {
        width: 220px;
    }
}

@media (max-width: 1500px) {
    .header {
        width: 300px;
    }
    
    .main {
        margin-left: 300px;
        width: calc(100% - 300px);
        height: 333px;
    }
}


@media (min-width: 1461px) and (max-height: 860px) {
    .main {
        width: 100%;
        position: relative;
        height: auto;
    }
    
    .container {
        overflow-y: auto;
    }
    
    .slider-images {
        position: relative;
        height: auto;
    }
    
    .main-images {
        position: relative;
        width: 100%;
        height: 460px;
    }
    
    .main-image {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    .full-width-container {
        right: auto;
        bottom: auto;
        
        position: static !important;
        width: 100%;
        height: auto;
        top: -50%;
        left: -50%;
    }
    .full-screen {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1461px) {
    .full-width-container {
        position: absolute;
        top: -100%;
        left: -100%;
        height: 300%;
        width: 300%;
    }
}

@media (max-width: 1460px) {
    .main {
        left: 0;
        right: auto;
        margin-left: 0;
        width: 100%;
    }
    
    .slider-controls {
        bottom: 345px;
        margin: 0 0 20px 45px;
    }
    
    
    
    .container {
        overflow-y: auto;
    }

    .main {
        width: 100%;
        position: relative;
        height: auto;
    }
    
    .slider-images {
        position: relative;
        height: auto;
    }
    
    .main-images {
        position: relative;
        width: 100%;
        height: 500px;
    }
    
    .main-image {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    .full-width-container {
        right: auto;
        bottom: auto;
        
        position: static;
        width: 100%;
        height: auto;
        top: -50%;
        left: -50%;
    }
    .full-screen {
        width: 100%;
        height: auto;
    }
    
    .slider-controls {
        bottom: 0;
        margin-left: 45px;
    }
    /*
    .full-width-container {
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
    }
    
    .full-screen {
        height: 75%;
    }
    */
    
    
}

@media (min-width: 1171px) {
    .slider-images {
        border: 20px solid #fff;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
    }
    
    .main-content {
        padding-right: 45px;
    }
    
    /*

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active),
    @supports (-ms-accelerator:true),
    @supports (-ms-ime-align:auto) {
        .main {
            bottom: -20px;
        }
    }
    */
}

@media (max-width: 1170px) {
    /*
    .container {
        overflow-y: auto;
    }
    .header {
        position: relative;
    }
    .main {
        width: 100%;
        position: relative;
        height: auto;
    }
    */
    .main-content {
        float: none;
        width: 100%;
        padding-right: 0;
    }
    .footer {
        float: none;
        width: 100%;
        margin-top: 45px;
    }

    
    .contact {
        width: 220px;
    }
    .contact:nth-child(3) {
        clear: both;
    }
    
     /*
    .container {
        overflow: visible;
    }
    */
    .header {
        position: absolute;
        width: 100%;
        padding: 20px 20px 30px 20px;
    }
    .logo img {
        width: 160px;
    }

    
    .main-images {
        height: 500px;
    }
    
    .slider-controls {
        bottom: 0;
    }
    
    
    /*
    .slider-images {
        position: relative;
        height: auto;
    }
    
    .main-images {
        position: relative;
        width: 100%;
        height: 500px;
    }
    
    .main-image {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    .full-width-container {
        right: auto;
        bottom: auto;
        
        position: absolute;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
    }
    .full-screen {
        position: absolute;
        width: auto;
        height: 50%;
    }
    
    .slider-controls {
        bottom: 0;
        margin-left: 45px;
    }
    
    .full-width-container {
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
    }
    
    .full-screen {
        height: 75%;
    }
    */
}

@media (max-width: 1024px) {
    
}

@media (max-width: 768px) {
    .container {
        font-size: 0.85em;
    }
    
    .headline {
        font-size: 1.75em;
    }
    
    .main {
        position: relative;
        padding: 25px;
    }
    
    .partner img {
        float: none;
    }
    .partner:first-child {
        padding-bottom: 0;
    }
    
    .contacts {
        float: none;
        margin: 0;
        padding: 0;
    }
    .contact {
        float: none;
        margin: 0;
        padding: 0 0 20px 0;
    }
    .contact:nth-child(2), .contact:last-child {
        padding-left: 0;
    }
    .slider-images {
        position: relative;
        height: auto;
    }
    
    .main-images {
        position: relative;
        width: 100%;
        height: 500px;
    }
    
    .main-image {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .full-width-container {
        right: auto;
        bottom: auto;
        
        position: absolute;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
    }
    .full-screen {
        position: absolute;
        width: auto;
        height: 50%;
    }
    
    .slider-controls {
        bottom: 0;
        margin-left: 25px;
    }
    .download-links {
        margin-top: 25px;
    }
    
    
    .footer {
        margin-top: 25px;
    }
}

@media (max-width: 460px) {
    .download-links ul li {
        display: block;
        padding: 0;
    }
    .download-links ul li:first-child {
        border: 0;
    }
}
